Section: misc
Priority: optional
Package: gedit-plugin-installer
Version: 1.0 
Maintainer: Ronald Andreu Kaiser <raios.catodicos@gmail.com>
Depends: python, gedit 
Architecture: all
Description: Plugin to install another plugins.
 Tired of copying your plugins to your ~/.gnome2/gedit/plugins? Try this one!
